.review-cards-container {
  display: flex;
  margin-left: 25px;
  flex-direction: column;
  justify-content: center;

  .deck-header {
    font-size: 20px;
    border-radius: 30px;
    flex-direction: column;
    // border: 1px solid black;
    // margin-bottom: 10px;
    align-items: center;

    .current-deck-title {
      display: flex;
      justify-content: center;
      font-size: 33px;
      font-weight: bold;
      margin-bottom: 10px;
      padding: 5px 0px 5px 0px;
      background-color: black;
      box-shadow: 4px 4px 2px -2px gray;
      color: white;
      border: 1px solid black;
    }
  }

  .flashcard {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-difficulty-submission-features {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
}

.review-session-finished {
  display: flex;
  flex-direction: column;
  align-items: center;

  .review-session-finished-msg {
    font-size: 20px;
    display: flex;
    margin-bottom: 15px;
    border: 1px solid black;
    box-shadow: 3px 3px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 380px;
    height: 165px;
    padding: 20px 10px 20px 10px;
  }
}

button {
  letter-spacing: 0.5px;
  line-height: 20px;
  padding: 0 10px 0 10px;
  background-color: black;
  font-family: 'Roboto Slab', serif;
  font-weight: bolder;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
}

.deck-details-button-container {
  padding: 5px;

  .deck-details-button {
    width: 150px;
    text-transform: uppercase;
    font-size: 14px;
    color: white;

    &:hover {
      color: black;
    }
  }
}

.card-buttons {

  .card-button {
    width: 110px;
    text-transform: uppercase;
    margin: 5px;
    font-size: 10px;
    color: white;

    &:hover {
      color: black;
    }
  }
}

.difficulty-buttons {
  display: flex;
  justify-content: space-between;

  .difficulty-button {
    width: 77px;
    letter-spacing: 0.5px;
    font-size: 11px;
    color: white;
    &:hover { 
      color: black;
    }
  }

  .difficulty-button-very-easy {
    width: 78px;
    letter-spacing: 0px;
    font-size: 11px;
    color: white;
    &:hover { 
      color: black;
    }
  }
}