.flashcard-back-revealed, .flashcard-back-not-revealed {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 400px;
  height: 180px;
  border: 1px solid black;
  box-shadow: 3px 3px;
  padding: 10px;
}

.flashcard-back-not-revealed {
  cursor: pointer;

  .button-in-flashcard {
    width: 350px;
    height: 175px;
    font-size: large;
    background-color: white;
    border: none;
  }
}