.flashcard-back-revealed {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 350px;
  height: 175px;
  border: 1px solid black;
  box-shadow: 3px 3px;
  padding: 10px;
}

.flashcard-back-not-revealed {
  display: flex;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Slab', serif;
  box-shadow: 3px 3px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;
  width: 350px;
  height: 175px;
  background-color: white;
  border: 1px solid black;
  padding: 10px;

  .button-in-flashcard {
    width: 350px;
    height: 175px;
    font-size: large;
    background-color: white;
    border: none;
  }
}