.deck-titles {
  padding: 2px;
  font-family: 'Roboto Slab', serif;

  button {
    display: flex;
    justify-content: space-between;
    min-width: 210px;
    width: 210px;
    height: 40px;
    line-height: 40px;
    padding: 0 5px 0 5px;
    background-color: white;
    color: black;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    border: 1px solid black;
    cursor: pointer;
  
    .deck-name {
      margin-left: 10px;
    }

    .flashcard-number {
      margin-right: 10px;
    }

    &:hover {
      background-color: black;
      color: white;
    }
  }
}

// .button {
//   min-width: 165px;
// }