.flashcard-front {
  display: flex;
  margin-bottom: 15px;
  border: 1px solid black;
  box-shadow: 5px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 350px;
  height: 175px;
  padding: 10px;

  .front-text{
    display: flex;
    color: white;
  }
}
