
.flashcard-to-review-front {
  display: flex;
  margin-bottom: 15px;
  border: 1px solid black;
  box-shadow: 3px 3px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 380px;
  height: 165px;
  padding: 20px 10px 20px 10px;
}
