.flashcard-front {
  display: flex;
  margin-bottom: 15px;
  border: 1px solid black;
  box-shadow: 3px 3px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 400px;
  height: 180px;
  padding: 10px;
  // pointer-events: none;
}
