.add-flashcards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-flashcards-header-container{
  display: flex;
  flex-direction: column;
  align-items:center;
}

.add-card-area {
  border: 1px solid black;
}

.output-wrapper {
  display: flex;
  justify-content: space-between;
  width: 380px;
  height: 50px;
  border: 2px;
  background-color: rgb(36, 43, 43);

  .output-text-container {
    display: flex;
    align-items: center;
  }

  .output-text {
    display: flex;
    color: rgb(238, 237, 237);
    margin: 20px;
    font-size: small;
    font-family: 'Roboto Slab', serif;
  }
}

.language-drop-down {
  width: 130px;
  height: 40px;
  background-color: black;
  color: white;
  font-family: 'Roboto Slab', serif;
}

button {
    width: 130px;
    height: 40px;
    letter-spacing: 0.5px;
    line-height: 20px;
    margin: 10px;
    padding: 0 10px 0 10px;
    font-size: 15px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    font-size: small;
    font-weight: bolder;
    border: none;
    cursor: pointer;
  
    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
    }
}
