.one-flashcard-container {
  // border: 1px solid black;
  border-radius: 10px;
  margin: 5px;
  display: flex;
  align-items: center;
}


.flashcard-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  justify-content: center;
  font-family: 'Roboto Slab', serif;
  // box-shadow: 3px 3px;
  // border-radius: 10px;
  width: 360px;
  height: 160px;
  background-color: white;
  border: 1px solid black;
  padding: 10px;

  .flashcard-details-title {
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .flashcard-text {
    margin: 2px;
    margin-left: 10px;
    font-size: 14px;

    b {
      color: #DC143C;
    }
  }
}

// .edit-button {
//   width: 30px;
//   height: 28px;
//   letter-spacing: 0.5px;
//   line-height: 20px;
//   padding: 0 10px 0 10px;
//   font-size: 11.5px;
//   background-color: black;
//   color: white;
//   text-transform: uppercase;
//   font-family: 'Roboto Slab', serif;
//   font-weight: bolder;
//   border: none;
//   cursor: pointer;

//   &:hover {
//     background-color: white;
//     color: black;
//     border: 1px solid black;
//   }
// }


.flashcard-container {
  display: flex;
  width: 340px;
  height: 180px;
  flex-direction: column;
  align-items: center;
  margin: 5px 10px 5px 20px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px;

  .flashcard-side {
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bolder;
  }

  .edit-button {
    // align-self: right;
    margin-left: 240px;
    width: 60px;
    height: 28px;
    letter-spacing: 0.5px;
    line-height: 20px;
    padding: 0 10px 0 10px;
    font-size: 11.5px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    border: none;
    cursor: pointer;
  
    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
    }
  }
  
  .ace-editor-in-flashcard {
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
}





// .popout-styles {
//   display: flex;
//   flex-direction: column;
//   margin: 5px;
//   // align-items: center;
//   justify-content: center;
//   font-family: 'Roboto Slab', serif;
//   box-shadow: 3px 3px;
//   border-radius: 10px;
//   width: 350px;
//   height: 175px;
//   background-color: white;
//   border: 1px solid black;
//   padding: 10px;
// }