.main-container {
  display: grid;
  height: 100vh;
  margin: 15px;
  margin-top: 30px;
  grid-template-columns: repeat(15, 1fr);
  grid-template-areas: 
      "m c c c c c c c e e e e e e e";
}

.decks-list-wrapper {
  background-color: #DC143C;
  width: 230px;
  max-height: 640px;
  margin-left: 10px;
  border: 1px solid black;
  grid-area: m;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 2px -2px gray;
  margin-bottom: 15px;
}

.review-flashcards-container {
  display: flex;
  min-width: 440px;
  flex-direction: column;
  background-color: white;
  align-items: center;
  grid-area: c;
}

.add-flashcard-container {
  min-width: 500px;
  grid-area: e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border-radius: 1rem;
  cursor: pointer;
  height: 2rem;
}