.add-flashcards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-flashcards-header-container {
  display: flex;
  justify-content: center;
  font-size: 40px;
  width: 448px;
  height: 53px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 5px 0px 5px 0px;
  display: flex;
  align-items:center;
  flex-direction: row;

  .add-flashcards-language-dropdown {
    margin-left: 150px;
  }
  .run-code-title {
    margin-right: 80px;
    margin-top: 20px;
    color: white;
    padding: 5px 18px 5px 18px;
    font-size: 12px;
    text-transform: uppercase;
  }
}

.code-output-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 410px;
  height: 75px;
}

.add-card-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #DC143C;
  box-shadow: 4px 4px 2px -2px gray;
  border: 1px solid black;
  padding: 10px;
}

.sandbox-output-wrapper {
  display: flex;
  justify-content: center;
  background-color: #282a36;
  padding-top: 8px;
  width: 430px;
}