.flashcard-back-revealed {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 350px;
  height: 175px;
  border: 1px solid black;
  box-shadow: 5px 10px;
  padding: 10px;
}

.flashcard-back-not-revealed {
  display: flex;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Slab', serif;
  box-shadow: 5px 10px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;
  width: 350px;
  height: 175px;
  background-color: white;
  box-shadow: 5px 10px;
  border: 1px solid black;
  color: rgb(39, 38, 38);
  padding: 10px;
}